<body background="https://d1a3f4spazzrp4.cloudfront.net/web-fresh/home/map-web@2x.gif">
<div class="section">
  <h3>Your Cart</h3>
  <br>
  <table class="center-align">
    <thead>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col width="130">
      <col class="center-align">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th>Update Quantity</th>
      </tr>
    </thead>
    <% @complete_cart[:cars].each do |car| %>
    <tbody>
      <tr>
        <td><%= image_tag car.image.url(:thumb) %></td>
        <td><%= car.full_name.upcase %></td>
        <td><%= car.description %></td>
        <td>$<%= car.daily_price %></td>
        <td><%= @cart.count_of(car.id) %></td>
        <td>$<%= car.daily_price * @cart.count_of(car.id) %></td>
        <td><%= form_tag(cart_car_path(car), method: "patch") do %>
         <%= label_tag :days %>
         <%= number_field_tag :days %>
         <%= submit_tag "Update" %>
        <% end %>
        </td>
        <td class="center-align"><%= link_to "Remove Car", cart_car_path(car.id), method: :delete, id:"Remove Car" %></td>
      </tr>
      <% end %>
      <tr>
        <td class="center"><strong>Total:</strong></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="left total_price"> $<%= @complete_cart[:total_price] %> </td>
      </tr>
    </tbody>
  </table>

  <%= link_to "Check Out", orders_path, method: :post, class: "btn" %>
</div>
