<!DOCTYPE html>
<head class="white-text">
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/new.css">
  <body background="https://d1a3f4spazzrp4.cloudfront.net/web-fresh/home/map-web@2x.gif">
</head>

  <div class="section">
    <h3>Your Cart</h3>
    <br>
    <div class="container-overflow">
      <div class="row col s12 m2">



        <table class="center-align">
          <thead>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <!-- <col width="130"> -->
            <col class="center-align">
            <tr>
              <th></th>
              <th>Name</th>
              <th>Description</th>
              <th>Price</th>
              <th>Total Days</th>
              <th>Subtotal</th>
              <th>Update Days</th>
              <th>Remove</th>
            </tr>
          </thead>
          <% @complete_cart[:cars].each do |car| %>
          <tbody>
            <tr>
              <td><%= image_tag car.image.url(:thumb), width: 200%></td>
              <td><%= link_to car.full_name.upcase %></td>
              <td><%= car.description %></td>
              <td>$<%= car.daily_price %></td>
              <td><%= @cart.count_of(car.id) %></td>
              <td>$<%= car.daily_price * @cart.count_of(car.id) %></td>
              <td><%= form_tag(cart_car_path(car), method: "patch") do %>
                <%= label_tag :days %>
                <%= number_field_tag :days %>
                <%= submit_tag "Update", class: "btn black-text cyan accent-4" %>
                <br>
                <br>
                <br>
                <br>
                <br>
                <% end %>
              </td>
              <td class="center-align"><%= link_to "Remove Car", cart_car_path(car.id), method: :delete, id:"Remove Car", class: "btn cyan accent-4 black-text" %></td>
            </tr>
            <% end %>
            <tr>
              <td class="center"><strong></strong></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="left total_price bold"> Total: $<%= @complete_cart[:total_price] %> </td>
            </tr>
          </tbody>
        </table>

        <%= link_to "Check Out", orders_path, method: :post, class: "btn cyan accent-4 black-text" %>
      </div>
    </div>
  </div>
