<div class="navbar-fixed" style="opacity:.8;">
  <nav>
    <div class="nav-wrapper grey darken-4">
      <a href="/" class="thin white-text" id="here">BORROW MY CARRO<i class="material-icons left">group_work</i></a>
      <ul class="right hide-on-med-and-down">
        <li>
          <% if current_user && platform_admin? %>
            <li><%= link_to "Dashboard", admin_dashboard_index_path %></li>
            <li><a href="/cars" class="thin">Cars</a></li>
            <li><%= link_to "Locations", locations_path %></li>
            <li><%= link_to "Logout", logout_path, method: :delete %></li>
          <% elsif current_user && store_admin? %>
            <li><%= link_to "#{current_user.username}\'s profile", user_path(current_user.id) %></li>
            <li><a href="/cars" class="thin">Cars</a></li>
            <li><%= link_to "Locations", locations_path %></li>
            <li><%= link_to "Logout", logout_path, method: :delete %></li>
          <% elsif current_user && registered_user? %>
            <li><%= link_to "#{current_user.username}\'s profile", user_path(current_user.id) %></li>
            <li><a href="/cars" class="thin">Cars</a></li>
            <li><%= link_to "Locations", locations_path %></li>
            <li><%= link_to "Logout", logout_path, method: :delete %></li>
          <% else %>
            <li><a href="/cars" class="thin">Cars</a></li>
            <li><%= link_to "Locations", locations_path %></li>
            <li><%= link_to "Login", login_path, class: "thin" %></li>
          <% end %>
        </li>
        <li>
          <a id="go-to-cart" href="/cart" class="collection-item thin cart-count grey darken-4">My Garage<span class="new badge cyan accent-4 z-depth-2"><%= @cart.total %></span></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
