<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper blue-grey darken-1">
      <a href="/" class="bold" id="here">BORROW MY CARRO<i class="material-icons left">group_work</i></a>
      <ul class="right hide-on-med-and-down">
        <li>
          <li>

          </li>
          <% if current_user && platform_admin? %>
            <li><%= link_to "Logout", logout_path, method: :delete %></li>
            <li><%= link_to "Dashboard", admin_dashboard_index_path %></li>
            <% elsif current_user %>
            <li><%= link_to "Logout", logout_path, method: :delete %></li>
          <% else %>
        <li><%= link_to "Login", login_path %></li>
          <% end %>
        </li>
          <li><a href="/cars">All Cars</a></li>
        </ul>
        <li><a id="go-to-cart" href="/cart"><span class="material-icons cart-icon"></span>
        <span class="badge cart-count"><%= @cart.total %></span></a></li>
      </ul>
    </div>
  </nav>
</div>
