<head>
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/new.css">
  <body background="https://d1a3f4spazzrp4.cloudfront.net/web-fresh/home/map-web@2x.gif">
</head>

<div class="cars-index">


  <h1 class="thin center-align">Store owned by: <%= link_to @store.owner.username.titleize, "/profile/#{@store.owner.id}" %></h1>
  <h3 class="thin center-align">Available Cars</h3>

  <div class="row">

    <div style="overflow: scrollbars-none;">
      <div style="overflow:scroll; height:600px; width:900px;">

        <table class="white-text bordered center-align">
          <thead>
            <tr>
              <th data-field="car-image"></th>
              <th data-field="name">Owner</th>
              <th data-field="price">Type</th>
              <th data-field="price">Description</th>
              <th data-field="price">Daily Price</th>
              <th data-field="price"></th>
            </tr>
          </thead>

          <tbody>
            <div class="">
              <% @store.cars.each do |car| %>

              <tr>
                <td><img src="https://images.unsplash.com/photo-1445020569771-3f8531cf7a4b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e49f8ca7482a01413754982eaa3438ac" height="100px" width="130px"/></td>
                <td><%= link_to car.store.name, store_cars_path(store: car.store.slug), class: "bold" %></td>
                <td class="card-content"><%= link_to car.full_name, store_car_path(car.id, store: car.store.slug) %></td>
                <td><%= car.description %></td>
                <td>$<%= car.daily_price %></td>
                <td><a id="<%= car.id %>" class="waves-effect waves-light btn cyan accent-4"><%= button_to "Drive", cart_cars_path(car_id: car.id), method: :post, class: "add-to-cart center-align bold black-text" %></a></td>
              </tr>
              <% end %>

            </tbody>
          </table>

        </div>
      </div>
</div>

      <script> $(document).ready(function(){
        $(".button-collapse").sideNav();
      });
      </script>
