<body background="https://d1a3f4spazzrp4.cloudfront.net/web-fresh/home/map-web@2x.gif">
  <h3 class="for_rent_by">For rent by <%= link_to @car.store.name, store_cars_path(store: @car.store.slug) %></h3>
  <div class="container">
  <div class="center-align" ><%= image_tag @car.image, :size => "520x360" %></div>
  </div>
  <br>
  <div class="center-align col s12 m4 offset-4">
    <p class="description white-text center-align">
      <%= @car.description.capitalize %>
    </p>
    <%= button_to "Drive", cart_cars_path(car_id: @car.id), method: :post, class: "btn center-align cyan accent-4 black-text" %>
    <br>
    <% if current_user && current_user.platform_admin? %>
      <%= link_to "Delete Car", car_path(car_id: @car.id), method: :delete, class: "btn center-align cyan accent-4 black-text" %>
    <% end %>
  </div>
  <h4><%= @car.year %> <br>
    <%= @car.model %> <br>
    <%= @car.make %></h4>
    <h3 class="prices">
      Daily price: $<%= @car.daily_price %> <br>
      <% if @car.weekly_price != nil %>
        Weekly Price: $<%= @car.weekly_price %>
      <% end %>
    </h3>
</body>
