
<div class="parallax-container">
  <div class="parallax"><%= image_tag "car.jpeg" %></div>

  <div class="row">
    <div class="col s12 m12 offset-2">

      <h1>___</h1>
      <h1 class="white-text thin center-align" style="vertical-align: middle;">Drive Your Dream Car for a Day</h1>
      <h6 class="white-text bold center-align" style="vertical-align: middle;">At BMC,
        our goal is to give you the keys to unlock and drive your dream. Choose from a
        wide </h6><h6 class="white-text bold center-align" style="vertical-align: middle;">selection of some of the best designed cars on the planet and arrive at your destination in style.</h6></div>
      </div>
      <div class="center">
        <a class="waves-effect wave-light white-text btn-large cyan accent-4 z-depth-5"><%= button_to "Drive Your Dream", cars_path, method: :get, class:"black-text" %></a>
      </div>

      <div class="valign-wrapper">
        <div class="valign">

          <div class="row">
            <div class="col s12 m4">
              <h1></h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <body bgcolor="#212121">
    <!-- <body bgcolor="#545459"> -->
      <div class="caption center-align">
        <h3></h3>

        <div class="caption center-align">
          <h3></h3>

          <div class="col s2">
            <img class="resize circular z-depth-5 hoverable responsive-img" align="center" src="https://avatars2.githubusercontent.com/u/10576647?v=3&s=400" height=100 width=100>
            <br>
            <br>
            <h6 class="light bold white-text">"I love the cars they have to offer. I've met my medium, podiatrist, and third wife while driving these beauties! I'm going to use Borrow My Carro EVERYDAY!"</h6>
            <h6 class="light bold white-text">-David, member since November 2015</h6>
          </div>
          <br>
        </div>
      </body>

      <div class="parallax-container">
        <div class="parallax"><%= image_tag "car2.jpeg" %></div>
      </div>

      <div class="col s2">
        <br>
        <img class="resize circular z-depth-5 hoverable" align="center" src="https://avatars2.githubusercontent.com/u/8861750?v=3&s=400" height=100 width=100>
        <br>
        <br>
        <h6 class="light bold white-text">"I'm obsessed with the service that BMC has to offer. Canada would never treat us so nicely! I bet this company is based in Texas.</h6><h6 class="light bold white-text"> The people from there are so incredible. I can't wait to use BMC again!"</h6>
        <h6 class="light bold white-text">-Torie, member since February 2014</h6>
        <br>
      </div>

      <div class="parallax-container">
        <div class="parallax"><%= image_tag "car4.jpeg" %></div>
      </div>

      <div class="caption center-align">
        <h3></h3>

        <div class="col s2">
          <img class="resize circular z-depth-5 hoverable" align="center" src="https://avatars1.githubusercontent.com/u/11325650?v=3&s=400" height=100 width=100>
          <br>
          <br>
          <h6 class="light bold white-text">"I love the car I'm borrowing from BMC so much that I don't think I'm going to return it! This service is incredible! But especially this homepage.</h6><h6 class="light bold white-text"> Quite frankly, whoever created it is a mad scientist and brilliant human...and you know this man!"</h6>
          <h6 class="light bold white-text">-Edgar, member since August 2015</h6>
        </div>

        <br>
      </div>
    </body>

    <div class="parallax-container">
      <div class="parallax"><%= image_tag "car5.jpeg" %></div>
    </div>

    <div class="row">
      <h1></h1>
      <h6 class="white-text bold center-align" style="vertical-align: middle;">You know you want to...</h6>
      <h4></h4>
      <a class="waves-effect wave-light white-text btn-large cyan accent-4 z-depth-5"><%= button_to "Drive Your Dream", cars_path, method: :get, class:"black-text" %></a>
      <h1></h1>
    </div>

    <div class="parallax-container">
      <div class="parallax"><img src="https://images.unsplash.com/photo-1423439793616-f2aa4356b37e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=12aca69b21491dd1555c92ec2e8e6112"</div>
    </div>


<script> $(document).ready(function(){
  $('.parallax').parallax();
});
</script>
