<!DOCTYPE html>
<head>
<body height="1000px">

  <div class="parallax-container">
    <div class="parallax">

    <!-- <body bgcolor="blue-grey darken-3"> -->
    <body background="https://d1a3f4spazzrp4.cloudfront.net/web-fresh/home/map-web@2x.gif">
    </div>
    <h1 class="thin center-align white-text">Vehicles</h1>
    <div style="overflow: scrollbars-none;">
      <div style="overflow:scroll; height:600px;">

<<<<<<< HEAD
        <table class="white-text bordered center-align">
          <thead>
            <tr>
              <th data-field="car-image"></th>
              <th data-field="name">Owner</th>
              <th data-field="price">Year</th>
              <th data-field="price">Make</th>
              <th data-field="price">Model</th>
              <th data-field="price">Daily Price</th>
              <th data-field="price">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Buy</th>
            </tr>
          </thead>

          <tbody>

            <tr>
              <td><img src="https://images.unsplash.com/photo-1445020569771-3f8531cf7a4b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e49f8ca7482a01413754982eaa3438ac" height="100px" width="130px"/></td>
              <td>Dave</td>
              <td>1960</td>
              <td>Chevy</td>
              <td>El Camino</td>
              <td>$100</td>
              <td><a class="waves-effect waves-light btn cyan accent-4">Drive</a></td>
            </tr>
            <tr>
              <td><img src="https://images.unsplash.com/photo-1445020569771-3f8531cf7a4b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e49f8ca7482a01413754982eaa3438ac" height="100px" width="130px"/></td>
              <td>Dave</td>
              <td>1960</td>
              <td>Chevy</td>
              <td>El Camino</td>
              <td>$100</td>
              <td><a class="waves-effect waves-light btn cyan accent-4">Drive</a></td>
            </tr>
            <tr>
              <td><img src="https://images.unsplash.com/photo-1445020569771-3f8531cf7a4b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e49f8ca7482a01413754982eaa3438ac" height="100px" width="130px"/></td>
              <td>Dave</td>
              <td>1960</td>
              <td>Chevy</td>
              <td>El Camino</td>
              <td>$100</td>
              <td><a class="waves-effect waves-light btn cyan accent-4">Drive</a></td>
            </tr>
            <tr>
              <td><img src="https://images.unsplash.com/photo-1445020569771-3f8531cf7a4b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e49f8ca7482a01413754982eaa3438ac" height="100px" width="130px"/></td>
              <td>Dave</td>
              <td>1960</td>
              <td>Chevy</td>
              <td>El Camino</td>
              <td>$100</td>
              <td><a class="waves-effect waves-light btn cyan accent-4">Drive</a></td>
            </tr>
            <tr>
              <td><img src="https://images.unsplash.com/photo-1445020569771-3f8531cf7a4b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e49f8ca7482a01413754982eaa3438ac" height="100px" width="130px"/></td>
              <td>Dave</td>
              <td>1960</td>
              <td>Chevy</td>
              <td>El Camino</td>
              <td>$100</td>
              <td><a class="waves-effect waves-light btn cyan accent-4">Drive</a></td>
            </tr>
            <tr>
              <td><img src="https://images.unsplash.com/photo-1445020569771-3f8531cf7a4b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e49f8ca7482a01413754982eaa3438ac" height="100px" width="130px"/></td>
              <td>Dave</td>
              <td>1960</td>
              <td>Chevy</td>
              <td>El Camino</td>
              <td>$100</td>
              <td><a class="waves-effect waves-light btn cyan accent-4">Drive</a></td>
            </tr>
            <tr>
              <td><img src="https://images.unsplash.com/photo-1445020569771-3f8531cf7a4b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e49f8ca7482a01413754982eaa3438ac" height="100px" width="130px"/></td>
              <td>Dave</td>
              <td>1960</td>
              <td>Chevy</td>
              <td>El Camino</td>
              <td>$100</td>
              <td><a class="waves-effect waves-light btn cyan accent-4">Drive</a></td>
            </tr>
            <tr>
              <td><img src="https://images.unsplash.com/photo-1445020569771-3f8531cf7a4b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e49f8ca7482a01413754982eaa3438ac" height="100px" width="130px"/></td>
              <td>Dave</td>
              <td>1960</td>
              <td>Chevy</td>
              <td>El Camino</td>
              <td>$100</td>
              <td><a class="waves-effect waves-light btn cyan accent-4">Drive</a></td>
            </tr>
            <tr>
              <td><img src="https://images.unsplash.com/photo-1445020569771-3f8531cf7a4b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e49f8ca7482a01413754982eaa3438ac" height="100px" width="130px"/></td>
              <td>Dave</td>
              <td>1960</td>
              <td>Chevy</td>
              <td>El Camino</td>
              <td>$100</td>
              <td><a class="waves-effect waves-light btn cyan accent-4">Drive</a></td>
            </tr>
            <tr>
              <td><img src="https://images.unsplash.com/photo-1445020569771-3f8531cf7a4b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e49f8ca7482a01413754982eaa3438ac" height="100px" width="130px"/></td>
              <td>Dave</td>
              <td>1960</td>
              <td>Chevy</td>
              <td>El Camino</td>
              <td>$100</td>
              <td><a class="waves-effect waves-light btn cyan accent-4">Drive</a></td>
            </tr>
            <tr>
              <td><img src="https://images.unsplash.com/photo-1445020569771-3f8531cf7a4b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e49f8ca7482a01413754982eaa3438ac" height="100px" width="130px"/></td>
              <td>Dave</td>
              <td>1960</td>
              <td>Chevy</td>
              <td>El Camino</td>
              <td>$100</td>
              <td><a class="waves-effect waves-light btn cyan accent-4">Drive</a></td>
            </tr>
            <tr>
              <td><img src="https://images.unsplash.com/photo-1445020569771-3f8531cf7a4b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e49f8ca7482a01413754982eaa3438ac" height="100px" width="130px"/></td>
              <td>Dave</td>
              <td>1960</td>
              <td>Chevy</td>
              <td>El Camino</td>
              <td>$100</td>
              <td><a class="waves-effect waves-light btn cyan accent-4">Drive</a></td>
            </tr>
            <tr>
              <td><img src="https://images.unsplash.com/photo-1445020569771-3f8531cf7a4b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e49f8ca7482a01413754982eaa3438ac" height="100px" width="130px"/></td>
              <td>Dave</td>
              <td>1960</td>
              <td>Chevy</td>
              <td>El Camino</td>
              <td>$100</td>
              <td><a class="waves-effect waves-light btn cyan accent-4">Drive</a></td>
            </tr>
          </tbody>
        </table>
---
    <div class="col s5">
      <% @cars.each do |car| %>
      <div class="card small" id= "<%= car.id %>">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://images.unsplash.com/photo-1445020569771-3f8531cf7a4b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e49f8ca7482a01413754982eaa3438ac" >
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= link_to car.full_name, store_car_path(car.id, store: car.store.slug) %><i class="material-icons right">more_vert</i></span>
          <p><a href="#"> <%= link_to car.store.name, store_cars_path(store: car.store.slug) %> </a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><%= link_to car.full_name, store_car_path(car.id, store: car.store.slug) %><i class="material-icons right">close</i></span>
          <p><%= car.description %></p>
          $<%= car.daily_price %>
        </div>
      <%= link_to "Add to my Garage", cart_cars_path(car_id: car.id), method: :post, class: "add-to-cart" %>
      </div>
      <% end %>
    <div class="col s5">
      asdfsdfsdf
    </div>
---
    </div>
      </div>
</head>
  </div>
  </div>


<script> $(document).ready(function(){
  $('.parallax').parallax();
});
</script>
